{% extends "base.html" %}

{% block content %}

<main class="d-flex flex-column" style="height: 100vh;">
    <h2 class="bold mt-3">Chat Room #{{ room_code }}</h2>
    <section id="chat-area" class="min-vh-75 p-5 m-12 mb-5">

    </section>

    <form id="form-mensagem" class="position-fixed bottom-0 start-50 translate-middle-x w-75 form-group mb-4">
      <div class="input-group">
        <input required type="text" class="form-control" id="mensagem" placeholder="Digite a sua mensagem...">
        <button type="submit" class="btn btn-primary p-2">Enviar Mensagem</button>
      </div>
    </form>
  </main>
  <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>

  <script>
    let socketio = io();
    const createMessage = () => {}
  </script>
{% endblock %}
